/* CSS BLOG */

a {
  text-decoration: none;
}

.blog-container{
  padding: 0px 50px;
}

.blog-wrapper {
  background-color:#232323;
  box-shadow: 0px 8px 5px #888988;
}

.blog-heading {
  text-align: center;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 3px;
  padding-top: 30px;
  color: #f5f5f5;
  font-family: 'Courier New';
}

.line {
  border-top: 3px solid #ffd700;
  margin: 0px 600px;
  border-radius: 1px;
}

.blog-parts {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba (196, 196, 196, 0,2);
  color: #f5f5f5;
  padding-bottom: 60px;
  margin-top: 50px;
}

.part {
  flex: auto;
  width: 15%;
  text-align: center;
  background-color: rgba (220, 220, 220 0.5);
  transition: all 7s;
  margin-right: 5px;
  margin-left: 5px;
}

.blog-icon img {
  background-color: #f5f5f5;
  border-radius: 40px;
  padding: 7px;
  opacity: 0.8;
}

.blog-icon h3 {
  font-size: 18px;
  font-family: Geneva;
}

.blog-txt {
  font-size: 14px;
  padding: 0px 40px;
  margin-bottom: 20px;
  font-family: sans-serif;
}

.readmore {
  color: #ffd700;
  font-size: 14px;
  font-weight: bold;
  opacity: 0.8;
}

.row {
  margin-left: 5px;
}

.readmore:hover {
  opacity: 1 ;
}

/* CSS TEAM */

.team-container {
  width: 100%;

  height: 220px;
  }

.team-heading {
  text-align: center;
  font-size: 20px;
  font-family: 'courier new';
  padding-top: 20px;
  color: #424242;
  margin-bottom: 50px;
}

span {
  color: #ffd700;
}

.team {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 300px;
  color: #424242;
  border-bottom: 2px solid #ffd700;
  margin-bottom: 20px;
  font-family: 'Lucida sans';
}

.member {
  flex: auto;
  width: 25%;
  text-align: center;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 14px;
}

.member img {
 width: 150px;
 margin-botom: 3px;
}

/* MAU TAMBAH CSS SILAHKAN TAMBAH DI BAWAH YAA */


