/* CSS BLOG */

a {
  text-decoration: none;
}

.blog-container {
  padding: 0px 50px;
}

.blog-wrapper {
  background-color: #232323;
  box-shadow: 0px 8px 5px #888988;
}

.blog-heading {
  text-align: center;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 3px;
  padding-top: 30px;
  color: #f5f5f5;
  font-family: 'Courier New';
}

.line {
  border-top: 3px solid #ffd700;
  margin: 0px 600px;
  border-radius: 1px;
}

.blog-parts {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba (196, 196, 196, 0, 2);
  color: #f5f5f5;
  padding-bottom: 60px;
  margin-top: 50px;
}

.part {
  flex: auto;
  width: 15%;
  text-align: center;
  background-color: rgba (220, 220, 220 0.5);
  transition: all 7s;
  margin-right: 5px;
  margin-left: 5px;
}

.blog-icon img {
  background-color: #f5f5f5;
  border-radius: 40px;
  padding: 7px;
  opacity: 0.8;
}

.blog-icon h3 {
  font-size: 18px;
  font-family: Geneva;
}

.blog-txt {
  font-size: 14px;
  padding: 0px 40px;
  margin-bottom: 20px;
  font-family: sans-serif;
}

.readmore {
  color: #ffd700;
  font-size: 14px;
  font-weight: bold;
  opacity: 0.8;
}

.row {
  margin-left: 5px;
}

.readmore:hover {
  opacity: 1;
}

/* CSS TEAM */

.team-container {
  width: 100%;

  height: 220px;
}

.team-heading {
  text-align: center;
  font-size: 20px;
  font-family: 'courier new';
  padding-top: 20px;
  color: #424242;
  margin-bottom: 50px;
}

span {
  color: #ffd700;
}

.team {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 300px;
  color: #424242;
  border-bottom: 2px solid #ffd700;
  margin-bottom: 20px;
  font-family: 'Lucida sans';
}

.member {
  flex: auto;
  width: 25%;
  text-align: center;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 14px;
}

.member img {
  width: 150px;
  margin-botom: 3px;
}


/*CSS TOP WRAPPER*/
.container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container h1 {
  font-family: Arial;
  font-weight: bold;
}

.container p {
  font-family: Arial;
  font-weight: normal;
}

.top-wrapper {
  padding-top: 180px;
  padding-bottom: 100px;
  color: white;
  background-color: #000000;
  background-size: cover;
  background-image: url(https://i.imgur.com/h4L1IJC.jpg);
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 35px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn {
  padding: 12px24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}

.btn-wrapper {
  margin-right: 10px 0;
}

.learn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  background-color: #02000c;
  cursor: pointer;
  box-shadow: 0 7px rgb(156, 151, 151);
}

/*CSS TOP WRAPPER*/

/* Header */

.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}


header {
  background: #35424a;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: gold 3px solid;
}

header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding {
  float: left;
}

header #branding h1 {
  margin: 0;
}

header nav {
  float: right;
  margin-top: 10px;
}

form {
  width: 500px;
  margin: 50px auto;
}

.highlight {
  color: gold;
  font-weight: bold;
}

header a:hover {
  color: #cccccc;
  font-weight: bold;
}

/* Showcase */
#showcase {
  min-height: 520px;
  background: url('/assets/img/interior.jpg') no-repeat 0 -440px;
  filter: brightness(70%);
  text-align: center;
  color: #ffffff;
}

#showcase h1 {
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
  color: whitesmoke;
}

#showcase p {
  font-size: 20px;
  margin-left: 400px;
  margin-right: 400px;
  text-align: justify;
}

/* Header */

/* About */

/* Main-col */
article#main-col {
  float: left;
  width: 60%;
  margin-top: 50px;
  text-align: justify;
}

/* Sidebar */
aside#sidebar {
  float: right;

  margin-top: 40px;
}

/* About */

/* MAU TAMBAH CSS SILAHKAN TAMBAH DI BAWAH YAA */